page-tracker {
    .mHeader{
        //background-repeat: no-repeat;
        background-size: cover;
        //background-attachment: fixed;
    }
    .workoutStyle{
        text-align: center;
        position: relative;
      top: 50%;
      transform: translateY(-70%);
    }
    h1{
      font-size: 400%;
    }
    h2{
      font-size: 700%;
    }
    ion-footer ion-toolbar.toolbar.toolbar-md {
      padding: 0px;
    }
}
